# Interview Questions Data Analysis

**Import Pandas**

In [115]:
import pandas as pd

### Question1

**Load the dataframe in pandas dataframes. Name the variable "survey"**

In [4]:
survey = pd.read_csv(r"C:\Users\hp\Desktop\Data Analysis\Untitled Folder\file.csv")

In [5]:
survey

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,Male,211,Gen,0.346969
1,2,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,Male,189,BC,0.603419
2,3,5-24-2017,Rural,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),BJP,Fully Dissatisfied,Somewhat Satisfied,25,Male,191,Gen,0.673762
3,4,5-24-2017,Urban,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,36,Male,194,Gen,1.101298
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,Male,176,BC,0.333505
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6862,6863,6-1-2017,Rural,10th Pass,"BPL/Below ₹ 5,000",JD(U),BJP,Fully Satisfied,Fully Dissatisfied,25,Male,166,Gen,0.036329
6863,6864,6-1-2017,Rural,Graduate,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,30,Male,169,BC,0.252780
6864,6865,6-1-2017,Urban,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),RJD,Can’t say,Fully Dissatisfied,20,Male,241,Gen,1.812926
6865,6866,6-1-2017,Rural,Professional Education,"₹ 10,000 - ₹ 20,000",BJP,Did not vote,Fully Satisfied,Somewhat Satisfied,23,Male,243,Gen,0.080137
6866,6867,6-1-2017,Rural,10th Pass,"₹ 5,000 - ₹ 10,000",JAP(L),JAP(L),Fully Satisfied,Fully Satisfied,33,Male,241,Gen,1.797518

### Question 2:

**How many samples are collected on each day?**

In [10]:
survey.head(2) #to show top 5 records

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,Male,211,Gen,0.346969
1,2,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,Male,189,BC,0.603419

In [9]:
survey['collection_date'].unique() #to show all unique values of a columns

array(['5-24-2017', '5-25-2017', '5-26-2017', '5-27-2017', '5-28-2017',
       '5-29-2017', '5-30-2017', '5-31-2017', '6-1-2017'], dtype=object)

In [11]:
survey['collection_date'].nunique() #to show total numbers of unique values

9

In [12]:
survey['collection_date'].value_counts()# to show all unique values of the columns with their counts

collection_date
5-24-2017    1479
5-25-2017     998
5-28-2017     761
5-27-2017     665
5-29-2017     620
6-1-2017      607
5-26-2017     598
5-30-2017     582
5-31-2017     557
Name: count, dtype: int64

In [15]:
survey['collection_date'].value_counts(ascending = True) # To arrange it in ascending order

collection_date
5-31-2017     557
5-30-2017     582
5-26-2017     598
6-1-2017      607
5-29-2017     620
5-27-2017     665
5-28-2017     761
5-25-2017     998
5-24-2017    1479
Name: count, dtype: int64

### Question 3:

**What propotion of the total respondents were aged less than 45?**

In [27]:
survey.age.value_counts() # to show counts of the columns so that there wouldnot be any different data type

age
25    598
24    450
30    440
28    396
22    392
26    389
27    360
20    328
23    317
21    311
32    263
35    263
29    239
40    177
34    173
19    171
31    159
33    143
38    135
36    127
18    125
42    104
37     90
45     82
43     72
39     69
50     60
44     54
41     54
48     35
47     34
46     32
49     27
52     24
51     23
55     20
60     15
61     12
53     12
54     11
57     10
56      9
58      9
64      8
67      7
59      5
65      5
62      5
66      4
68      4
63      4
70      3
71      2
74      1
69      1
99      1
72      1
75      1
76      1
Name: count, dtype: int64

In [22]:
survey['age'].replace({'24ko':24},inplace = True) # to replace 24ko with 24

In [24]:
survey['age'] = survey.age.astype(int) #to change datatype

In [26]:
survey[survey['age'] < 45]

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,Male,211,Gen,0.346969
1,2,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,Male,189,BC,0.603419
2,3,5-24-2017,Rural,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),BJP,Fully Dissatisfied,Somewhat Satisfied,25,Male,191,Gen,0.673762
3,4,5-24-2017,Urban,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,36,Male,194,Gen,1.101298
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,Male,176,BC,0.333505
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6862,6863,6-1-2017,Rural,10th Pass,"BPL/Below ₹ 5,000",JD(U),BJP,Fully Satisfied,Fully Dissatisfied,25,Male,166,Gen,0.036329
6863,6864,6-1-2017,Rural,Graduate,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,30,Male,169,BC,0.252780
6864,6865,6-1-2017,Urban,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),RJD,Can’t say,Fully Dissatisfied,20,Male,241,Gen,1.812926
6865,6866,6-1-2017,Rural,Professional Education,"₹ 10,000 - ₹ 20,000",BJP,Did not vote,Fully Satisfied,Somewhat Satisfied,23,Male,243,Gen,0.080137
6866,6867,6-1-2017,Rural,10th Pass,"₹ 5,000 - ₹ 10,000",JAP(L),JAP(L),Fully Satisfied,Fully Satisfied,33,Male,241,Gen,1.797518

In [28]:
6399/6867 *100

93.18479685452162

### Question 4:

**What propotion of the respondents had opted for the RJD party in both the Vote_Now and the Past_Votes questions?**

In [29]:
survey.Vote_Now.unique()

array(['BJP', 'RLSP', 'JAP(L)', 'RJD', 'JD(U)', 'Others', 'LJP',
       'Undecided', 'NOTA', 'Plurals', 'INC', 'RJJP', 'BSP', 'AAP',
       'Left Front', 'AIMIM', 'HAM', 'VIP'], dtype=object)

In [30]:
survey.Past_Vote.unique()

array(['BJP', 'JD(U)', 'RJD', 'Did not vote', 'LJP', 'NOTA', 'INC', 'VIP',
       'Others', 'Left Front', 'RLSP', 'HAM', 'BSP', 'JAP(L)'],
      dtype=object)

In [35]:
survey[(survey['Vote_Now']=='RJD') &(survey['Past_Vote']=='RJD')]  # filtering with 'and' operator

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
3,4,5-24-2017,Urban,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,36,Male,194,Gen,1.101298
9,10,5-24-2017,Urban,12th Pass,"₹ 20,000 - ₹ 30,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,26,Male,181,BC,0.713059
16,17,5-24-2017,Rural,Post - Graduation,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,24,Male,194,BC,0.769738
19,20,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,37,Male,200,BC,0.936383
21,22,5-24-2017,Rural,Graduate,"₹ 5,000 - ₹ 10,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,29,Male,210,BC,0.713059
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6846,6847,6-1-2017,Rural,Post - Graduation,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,31,Male,151,BC,0.483757
6848,6849,6-1-2017,Rural,Post - Graduation,"₹ 30,000 - ₹ 50,000",RJD,RJD,Fully Dissatisfied,Can’t say,27,Male,143,BC,0.200389
6858,6859,6-1-2017,Rural,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Fully Satisfied,24,Male,241,Gen,1.812926
6860,6861,6-1-2017,Rural,Graduate,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Fully Satisfied,25,Male,145,BC,0.528469
6863,6864,6-1-2017,Rural,Graduate,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,30,Male,169,BC,0.252780

In [36]:
811/6867 *100

11.810106305519149

### Question 5:

**For each day of sample collection, determine the proposition of the respondents who were fully satisfied with the performance of the CM. So if there were total 1000 samples on day 1 and 300 out of those said that they are fully satisfied then our answer for that day would be 0.3.**

In [44]:
survey['CM_satisfaction'].unique()

array(['Fully Dissatisfied', 'Somewhat Satisfied', 'Fully Satisfied',
       'Somewhat Dissatisfied', 'Can’t say'], dtype=object)

In [73]:
CM = survey[survey['CM_satisfaction']=='Fully Satisfied'] # create a new database with existing one

In [74]:
a = CM.collection_date.value_counts()

In [75]:
b= survey.collection_date.value_counts()

In [79]:
c = a/b * 100 # shows the proportion each day
print(c)

collection_date
5-24-2017     9.871535
5-25-2017     9.519038
5-26-2017     9.866221
5-27-2017     8.120301
5-28-2017    12.089356
5-29-2017    11.774194
5-30-2017    11.168385
5-31-2017    11.131059
6-1-2017     12.355848
Name: count, dtype: float64

### Question 6:

**In a similar fashion create a day-wise propotion of respondents taht opted fully dissatisfied with their MLA.**

In [106]:
survey['MLA_satisfaction'].unique()

array(['Fully Dissatisfied', 'Somewhat Satisfied', 'Fully Satisfied',
       'Somewhat Dissatisfied', 'Can’t say'], dtype=object)

In [107]:
MLA = survey[survey['MLA_satisfaction']=='Fully Dissatisfied']

In [108]:
d = MLA.collection_date.value_counts() # total counts of each date

In [109]:
e= survey.collection_date.value_counts()

In [117]:
f = d/e *100
print(f)

collection_date
5-24-2017    59.972955
5-25-2017    63.126253
5-26-2017    59.030100
5-27-2017    60.601504
5-28-2017    60.709593
5-29-2017    56.451613
5-30-2017    62.027491
5-31-2017    57.630162
6-1-2017     63.426689
Name: count, dtype: float64

### Question 7:

**Create a pivot table (or crosstab) with index as Past_Vote, Column as Vote_Now and cell values as count of samples.**

In [124]:
survey.pivot_table(index='Past_Vote', columns = 'Vote_Now', aggfunc='count')

             CM_satisfaction                                              \
Vote_Now                 AAP AIMIM     BJP  BSP  HAM   INC JAP(L)  JD(U)
Past_Vote
BJP                      7.0   1.0  1630.0  3.0  5.0  42.0  101.0  110.0
BSP                      NaN   1.0     2.0  5.0  NaN   1.0    NaN    NaN
Did not vote             8.0   5.0   231.0  2.0  1.0  22.0   41.0   69.0
HAM                      2.0   NaN    25.0  NaN  1.0   NaN    3.0    2.0
INC                      NaN   6.0     6.0  NaN  NaN  57.0   10.0    9.0
JAP(L)                   NaN   NaN     4.0  NaN  NaN   NaN   35.0    NaN
JD(U)                    6.0  10.0   254.0  2.0  2.0  45.0   72.0  279.0
LJP                      NaN   NaN    76.0  1.0  NaN   4.0    3.0    6.0
Left Front               NaN   1.0     2.0  NaN  NaN   1.0    NaN    NaN
NOTA                     NaN   1.0    29.0  1.0  NaN   9.0    7.0    7.0
Others                   1.0   5.0    45.0  1.0  1.0   4.0    7.0    4.0
RJD                      3.0   7.0    46.0  NaN  1.0  31.0   31.0   39.0
RLSP                     NaN   NaN    17.0  NaN  NaN   NaN    3.0    NaN
VIP                      NaN   NaN     NaN  NaN  NaN   NaN    NaN    1.0

                               ... weight                                   \
Vote_Now       LJP Left Front  ...    LJP Left Front   NOTA Others Plurals
Past_Vote                      ...
BJP           44.0       13.0  ...   44.0       13.0  194.0   32.0    87.0
BSP            NaN        NaN  ...    NaN        NaN    NaN    NaN     NaN
Did not vote  10.0       16.0  ...   10.0       16.0   83.0   11.0    51.0
HAM            2.0        NaN  ...    2.0        NaN    4.0    NaN     NaN
INC            NaN        3.0  ...    NaN        3.0    6.0    3.0     3.0
JAP(L)         NaN        NaN  ...    NaN        NaN    NaN    1.0     NaN
JD(U)         29.0        9.0  ...   29.0        9.0   90.0   18.0    43.0
LJP            9.0        2.0  ...    9.0        2.0    3.0    NaN     2.0
Left Front     NaN       18.0  ...    NaN       18.0    1.0    1.0     NaN
NOTA           3.0        5.0  ...    3.0        5.0   46.0    7.0    11.0
Others         1.0        4.0  ...    1.0        4.0   10.0    6.0     8.0
RJD            4.0        9.0  ...    4.0        9.0   18.0    8.0    10.0
RLSP           NaN        NaN  ...    NaN        NaN    3.0    NaN     2.0
VIP            NaN        NaN  ...    NaN        NaN    NaN    NaN     NaN


Vote_Now        RJD  RJJP  RLSP Undecided   VIP
Past_Vote
BJP           370.0  88.0  24.0      62.0  10.0
BSP             NaN   NaN   NaN       NaN   NaN
Did not vote  195.0  20.0   3.0      31.0   5.0
HAM             6.0   4.0   NaN       1.0   NaN
INC           100.0   1.0   2.0       7.0   NaN
JAP(L)          2.0   NaN   NaN       NaN   NaN
JD(U)         435.0  13.0  25.0      36.0   6.0
LJP            17.0   1.0   NaN       1.0   NaN
Left Front      4.0   NaN   1.0       NaN   1.0
NOTA           27.0   5.0   4.0       5.0   NaN
Others         21.0   7.0   1.0       6.0   NaN
RJD           811.0   1.0  10.0      14.0   4.0
RLSP            8.0   2.0  12.0       1.0   1.0
VIP             NaN   NaN   NaN       NaN   1.0

[14 rows x 216 columns]

### Question 8:

**Repeat the above questions with the cell values as the sum of "weight"**

In [128]:
survey.pivot_table(index='Past_Vote', columns = 'Vote_Now',values = 'weight' ,aggfunc='sum')

Vote_Now,AAP,AIMIM,BJP,BSP,HAM,INC,JAP(L),JD(U),LJP,Left Front,NOTA,Others,Plurals,RJD,RJJP,RLSP,Undecided,VIP
Past_Vote,,,,,,,,,,,,,,,,,,
BJP,4.807335,0.349996,1049.344112,0.452551,10.171283,50.055502,63.832368,68.029581,45.716215,7.537394,114.913686,8.790137,50.016163,250.948101,16.047570,18.715113,41.286954,18.691691
BSP,NaN,1.654731,5.174487,32.010277,NaN,2.298223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Did not vote,8.865896,5.379527,114.203906,3.329611,2.497170,27.791290,26.359190,58.983458,11.801813,13.050113,44.725179,7.289933,25.319524,173.882525,4.349832,5.041587,22.015457,10.696552
HAM,0.312607,NaN,25.348884,NaN,1.648856,NaN,0.712161,1.006719,2.496424,NaN,0.928984,NaN,NaN,7.713008,1.903148,NaN,0.039564,NaN
INC,NaN,11.105958,1.642875,NaN,NaN,161.742302,18.942597,11.077323,NaN,6.268726,5.999014,1.552038,1.588527,195.020050,5.340403,1.140299,8.558475,NaN
JAP(L),NaN,NaN,6.512846,NaN,NaN,NaN,57.876224,NaN,NaN,NaN,NaN,3.195682,NaN,2.164824,NaN,NaN,NaN,NaN
JD(U),12.457216,29.198610,156.243100,11.005903,2.639574,91.806262,106.217216,498.796862,33.148113,11.765603,61.109706,29.196072,45.175289,657.155514,4.015909,44.376194,58.137833,20.675288
LJP,NaN,NaN,85.010450,2.481377,NaN,21.613385,7.375946,11.382812,26.868529,1.712452,0.813171,NaN,1.927965,30.737989,0.478933,NaN,1.709409,NaN
Left Front,NaN,2.298223,0.209586,NaN,NaN,2.291368,NaN,NaN,NaN,44.280864,0.201455,8.309203,NaN,6.740281,NaN,0.877960,NaN,3.020887
NOTA,NaN,1.061204,12.685435,0.051485,NaN,3.844332,8.645440,12.132362,1.353138,2.863587,35.310377,13.594657,3.676105,20.552066,1.116006,4.502676,1.570309,NaN
Others,13.661335,21.212705,34.866218,0.684568,1.505864,1.389539,5.333891,5.101976,2.481377,4.017150,9.419087,8.236678,2.715087,38.194805,1.754671,3.800565,2.504778,NaN
RJD,5.515847,24.149369,32.285093,NaN,0.960400,67.072640,28.661774,55.385673,9.226178,35.399702,25.113668,14.999222,14.179660,1016.975742,0.085758,10.752145,21.523115,13.161145
RLSP,NaN,NaN,23.376575,NaN,NaN,NaN,3.269255,NaN,NaN,NaN,1.097574,NaN,0.499403,14.951502,1.955662,23.505807,3.524302,8.258391
VIP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.333505,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.372959